<div class="article">
    <h3><%= article.title %></h3>
    <p> <%= article.content %></p>
    <div style="display:flex;">
      <%= link_to "edit", edit_article_path(article), class: "btn btn-primary" %>
      <%= link_to "delete", article, class: "btn btn-primary", data:
                    {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
</div>