<div class="article">
    <h3><%= article.title %></h3>
    <p> <%= article.content %></p>
    <div style="display:flex;">
      <%= link_to "edit", edit_article_path(article), class: "btn btn-primary" %>
      <%= button_to 'delete', article_url(article), method: :delete,
                    form: {data: {turbo_confirm: "are you sure?"}}, class: "btn btn-primary" %>
    </div>
</div>