<div class="main">
  <nav aria-label="pagination of articles" class="digg_pagination">
    <%= will_paginate @articles, class: "navigation"%>
  </nav>
  <ul>
    <%= render @articles %>
  </ul>
</div>