.content {
  margin: 3em;
}

.main {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 1em;
  width: 50%;
  border: 3px solid #4d5154;
  display: block;
}

a {
  margin: 0.3em;
}

ul.error {
  color:red;
}