$light-gray: #777;

.content {
  margin: 3em;
}

.main {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 1em;
  width: 50%;
  border: 3px solid #4d5154;
  display: block;
}

a {
  margin: 0.3em;
}

ul.error {
  color:red;
}

body {
  background-color: #f2f2f2;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 3px solid #d9d9d9;
  color: $light-gray;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;


    li {
      float: left;
      margin-left: 15px;
    }
  }

}
